/*body(전체)*/
body {
  height: 100%;
  margin: 0;
}

/*nav*/

.nav-bar {
  height: 48px;
}
.nav-item {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.nav-item a{
  text-decoration: none;
  margin-right: 16px;
}

.nav-text {
  font-size: 15px;
  color: black;
}

.nav-text:hover {
  text-decoration: underline;
}

.nav-icon img{
  width: 20px;
  height: 20px;
}

/*main*/
.main-area {
  text-align: center;
  margin-top: 180px;
}

.main-item {
  margin-top: 20px;
}

.input-area{
  display: inline-flex;
}

.input-box{
  width: 584px;
  height: 52px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left: 50px;
  padding-right: 70px;
}

.input-area img{
  width: 23px;
  height: 23px;
  padding-top: 13px;
}

.input-itemL {
  position: relative;
  left: 40px;
}

.input-itemR {
  position: relative;
  right: 70px;
}