/* 전체 스타일 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}

/* 어두운 오버레이 */
body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}


/* 헤더 스타일 */
header {
  position: absolute;
  top: 0;
  width: 100%;
}

/* 네비게이션 */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 180px;
  height: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.language {
  padding: 5px 10px;
  background: black;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 122px;
  height: 32px;
  margin-right: 10px;
}

.login-btn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 메인 섹션 */
.top-sec {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:
    url('./img/background-top.jpg');
  /* 배경 이미지 */
  background-size: cover;
  background-position: center;
  color: white;
}

/* 메인 텍스트 */
.content {
  position: relative;
  z-index: 1;
}

.content h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  max-width: 450px;
  /* 줄바꿈 위치 조정 */
  line-height: 1.2;
  /* 줄 간격 조정 */
  margin: 0 auto;
}

.con-text1 {
  font-size: 20px;
  margin-top: 20px;
}

.con-text2 {
  font-size: 15px;
  margin-top: 35px;
}

/* 이메일 입력 폼 */
.content form {
  margin-top: 20px;
  align-items: center;
}

.con-input {
  padding: 15px;
  width: 412px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.start-btn {
  background: red;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 23px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  width: 167px;
  height: 62px;
}

/**/


/* 배너 컨테이너 */
.banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  padding: 60px 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  background: black; /* 기본 배경 */
}